*::after, *::before, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh max-content min-content minmax(min-content, max-content) (min-content)[2];
      grid-template-rows: 100vh -webkit-max-content -webkit-min-content minmax(-webkit-min-content, -webkit-max-content) repeat(2, -webkit-min-content);
      grid-template-rows: 100vh max-content min-content minmax(min-content, max-content) repeat(2, min-content);
  -ms-grid-columns: [full-start] 1fr [center-start] ([col] minmax(min-content, 18rem) [col-end])[8] [center-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col] minmax(-webkit-min-content, 18rem) [col-end]) [center-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col] minmax(min-content, 18rem) [col-end]) [center-end] 1fr [full-end];
}

.cities {
  grid-column: center-start/center-end;
  padding: 4rem 0;
}

.cities-content {
  padding: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

.cities-content-in {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-gap: .4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cities-content-in h3 {
  grid-column: 1/-1;
  font-size: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cities-content img {
  width: 100%;
  grid-column: 1/-1;
}

.cities-content-1, .cities-content-2, .cities-content-3, .cities-content-4 {
  background-color: #f3f3f3;
  padding: 4rem 1rem;
  margin: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cities-content-1 a, .cities-content-2 a, .cities-content-3 a, .cities-content-4 a {
  color: orange;
}

.cities-content-1:hover, .cities-content-2:hover, .cities-content-3:hover, .cities-content-4:hover {
  -webkit-transform: translateY(-1rem) scale(1.1);;
          transform: translateY(-1rem) scale(1.1);
  -webkit-box-shadow: 0rem 0.4rem 0.6rem rgba(14, 1, 1, 0.767);
          box-shadow: 0rem 0.4rem 0.6rem rgba(14, 1, 1, 0.767);
}

.features {
  grid-column: center-start/center-end;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-head {
  /*display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      
      justify-content: space-between;
      align-content: space-around;*/
}

.features-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  padding: 4rem 3rem;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
}

.footer {
  background-color: rgba(75, 74, 74, 0.89);
  grid-column: full-start/full-end;
  padding: 4rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.footer p {
  color: #fff;
  font-size: 1.4rem;
}

.footer-list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
  list-style: none;
  font-size: 1.7rem;
  color: #fff;
  justify-items: center;
}

.footer-list ul li {
  padding: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-list ul li:hover {
  background-color: #4b4a4a;
  -webkit-box-shadow: 0 1rem 2rem #000;
          box-shadow: 0 1rem 2rem #000;
  -webkit-transform: translateY(-1.3rem);
          transform: translateY(-1.3rem);
}

.gallery {
  background-color: black;
  grid-column: full-start/full-end;
}

.gallery-1, .gallery-2 {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
}

.gallery-1 figure, .gallery-2 figure {
  overflow: hidden;
}

.gallery-1 figure img, .gallery-2 figure img {
  width: 100%;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.gallery-1 figure img:hover, .gallery-2 figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 28, 28, 0.692)), to(rgba(36, 28, 28, 0.808))), url(../Contents/hero.jpg);
  background-image: linear-gradient(rgba(36, 28, 28, 0.692), rgba(36, 28, 28, 0.808)), url(../Contents/hero.jpg);
  grid-column: full-start/full-end;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.header-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-btn .btn-1 {
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  margin-right: 1.3rem;
  border-radius: 100px;
  background-color: orange;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.header-btn .btn-1:hover {
  background-color: #6b1e06;
}

.header-btn .btn-2 {
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  margin-right: 1.3rem;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #666363;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.header-btn .btn-2:hover {
  background-color: orange;
  color: #fff;
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-left: 7%;
}

.header-container h1 {
  grid-column: 1/-1;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #d3caca;
}

.header-logo img {
  width: 30%;
}

.header-nav {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media only screen and (max-width: 700px) {
  .header-nav {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header-nav ul li {
  padding: 2rem 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #d3caca;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-nav ul li:hover {
  border-bottom: 3px solid orange;
  cursor: pointer;
}

.hws {
  grid-column: center-start/center-end;
  padding: 5rem;
}

.hws-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  -ms-grid-row-align: end;
      align-self: end;
}

.hws-content span {
  font-size: 2.1rem;
}

.hws-content p {
  font-size: 2.2rem;
}

.hws-content span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem 1.7rem;
  border-radius: 100px;
  border: 4px solid orange;
}

.hws-content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: end;
}

.hws-content-logo-1 {
  width: 40%;
}

.hws-content-logo-2 {
  width: 46%;
}

.hws-main_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 4rem;
}

.hws-mobile-image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 40%;
  padding: 2rem;
}

.testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777373), to(rgba(150, 146, 146, 0.637))), url("../Contents/back-customers.jpg");
  background-image: linear-gradient(#777373, rgba(150, 146, 146, 0.637)), url("../Contents/back-customers.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-column: full-start/full-end;
  padding: 4rem;
  color: white;
}

.testimonials-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  padding: 6rem 3rem;
  grid-gap: 3rem;
}

.testimonials-content-containers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding: 3rem 0rem;
}

.testimonials-content-containers .person {
  -ms-grid-row-align: end;
      align-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-content-containers .person img {
  width: 80%;
  border-radius: 50%;
}

.icon {
  color: orange;
  font-size: 5rem;
  margin-right: 1rem;
}

.h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.h2 {
  font-size: 2.2rem;
}

.h3 {
  font-size: 2.34rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-size: 1.2rem;
}

.h6 {
  font-size: 13.4px;
}

p {
  font-size: 2rem;
}

.underline {
  width: 20rem;
  height: .5rem;
  background-color: red;
}

.section-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.center {
  font-size: 2.4rem;
  padding: 2rem;
  text-align: center;
}

.quotes::before {
  content: "\0022";
  color: red;
  font-size: 10rem;
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
  position: absolute;
}
/*# sourceMappingURL=main.css.map */